<div class="container mt-0">
  <div class="row">      
    <h4>  {{{get_emoji}}} {{company.name}}</h4>
    <h4>Category: {{company.category}}</h4>
    <h4>Average Rating: {{company.rating}}</h4>
    <div class="card" id="singleRevCard">
      {{#each company.reviews as |review| }}
      {{> review-details}}
      {{/each}}
      <form>
        <div class="form-group">
          <a href="/api/reviews/addReview/{{company.id}}" class="btn btn-block btn-primary link_btn">Add Review</a> 
        </div>
      </form>
    </div>
  </div>
</div>
