<div class= "container">    
        <div class="container-fluid main_body">
            <h1>Hello, {{userFirstName}}</h1>
            <p>Here is a listing of reviews for: {{company.name}} </p>
            <form >
              <div class="form-group">
                <a href="/api/reviews/addReview/{{company.id}}" class="btn btn-block btn-primary link_btn">Add Review</a> 
              </div>
            </form>
            <div class="row">
               
                <div class="row mb-4 project">
                <div class="col-md-5">
                    <h2>
                    <!-- Call helper function with triple brackets to render the emoji span as HTML -->
                    {{{get_emoji}}}
                    {{company.name}}
                    </h2>
                </div>
                <div class="col-md-7">
                    <p>
                    {{company.category}} Rating: {{company.rating}}
                    </p>
                </div>
                </div>
                    {{#each company.reviews as |review| }}
                    {{> review-details}}
                    {{/each}}

               </div>

             </div>
            
        </div>
    </div>

</div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 
