
    <div id="wrapper">
    <div class="bg-success" id="sidebar-wrapper"  >
        <div class="sidebar-brand">
            <p class="text-white"></p>test456</p>
        </div>

        <ul class="sidebar-nav bg-danger">
           <li class="bg-danger"><a href="/api/companies">Companies</a></li>           
           <li class="bg-danger"><a href="/api/reviews">Reviews</a></li>
           <li class="bg-danger"><a href="/api/users">Users</a></li>
        </ul>
    </div>
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bg-success"><p>testaa</p></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right nav_bar">
        {{#if loggedIN}}
            <li><a href="/logout">Logout</a></li>
        {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        {{/if}}
        <li><a href="/">Home</a></li>
        
      </ul>
    </div>
  </div>
</nav>
        <div class="container-fluid main_body">
            <h1>Hello, {{userFirstName}}</h1>
            <p>Here is a listing of reviews for: {{company.name}} </p>
            <form >
              <div class="form-group">
                <a href="/api/reviews/addReview/{{company.id}}" class="btn btn-block btn-primary link_btn">Add Review</a> 
              </div>
            </form>
            <div class="row">
               
                <div class="row mb-4 project">
                <div class="col-md-5">
                    <h2>
                    <!-- Call helper function with triple brackets to render the emoji span as HTML -->
                    {{{get_emoji}}}
                    {{company.name}}
                    </h2>
                </div>
                <div class="col-md-7">
                    <p>
                    {{company.category}} Rating: {{company.rating}}
                    </p>
                </div>
                </div>
                    {{#each company.reviews as |review| }}
                    {{> review-details}}
                    {{/each}}

               </div>

             </div>
            
        </div>
    </div>

</div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


