<div class="container" >    
    <h4>Your Paw-some Profile Page! {{company.name}} </h4>
    
        <div class="row">
            <div class="card" id="profCard">
            <form action="/action_page.php">
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form ">
                            <label for="fname" class="input-label">First name:</label>
                            <input class="form-control" type="text" id="fname" name="fname" value="{{user.firstName}}" style="margin:1%;">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form ">
                            <label for="lname" class="form-label">Last name:</label>
                            <input class="form-control" type="text" id="lname" name="lname" value="{{user.lastName}}" style="margin:1%;">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form ">
                            <label for="address" class="form-label">Address:</label>
                            <input class="form-control" type="text" id="address" name="address" value="{{user.address}}" style="margin:1%;">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form ">
                            <label for="city" class="form-label">City:</label>
                            <input class="form-control" type="text" id="city" name="city" value="{{user.city}}" style="margin:1%;">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form ">
                            <label for="state" class="form-label">State:</label>
                            <input class="form-control" type="text" id="state" name="state" value="{{user.state}}" style="margin:1%;">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form ">
                            <label for="zipCode" class="form-label">Zip Code:</label>
                            <input class="form-control" type="text" id="zipCode" name="zipCode" value="{{user.zipCode}}" style="margin:1%;">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form ">
                            <label for="eMail" class="form-label">eMail:</label>
                            <input class="form-control" type="text" id="eMail" name="eMail" value="{{user.email}}" style="margin:1%;">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form ">
                            <label for="pheNum" class="form-label">Phone Num:</label>
                            <input class="form-control" type="text" id="pheNum" name="pheNum" value="{{user.phone}}" style="margin:1%;">
                        </div>
                    </div>
                        {{!-- <div class="form ">
                            {{#if isAdmin}}
                                <label for="isAdmin" class="form-label">Is Admin:</label>
                                <input class="form" type="text" id="isAdmin" name="isAdmin" value="{{user.isAdmin}}" style="margin:1%;">
                            {{/if}}                 
                        </div> --}}
                </div>
                <div class="row">
                    <div class="row mb-4 project">
                        <div class="col-md-5">
                            <h2>
                            <!-- Call helper function with triple brackets to render the emoji span as HTML -->
                            {{!-- {{{get_emoji}}} --}}
                            {{company.name}}
                            </h2>
                        </div>
                    </div>
                    {{#each user.reviews as |review| }}
                    {{> review-details}}
                    {{/each}}
                </div>
            <div class="form mx-auto">
                <input class="form btn btn-primary" type="submit" value="Submit">
            </div>
                    
            </div>
                
            </form>
        </div>
    </div>
</div>
 