<div >    
    <h1>Hello, {{user.firstName}}</h1>
    <p>Here is a listing of profile data: {{company.name}} </p>
    <div class="row login">
        <form action="/action_page.php">
            <div class="form-group ">
                <label for="fname">First name:</label>
                <input class="form-control" type="text" id="fname" name="fname" value="{{user.firstName}}" style="margin-bottom:10px;"><br>
            </div>
            <div class="form-group ">
                <label for="lname">Last name:</label>
                <input class="form-control" type="text" id="lname" name="lname" value="{{user.lastName}}" style="margin-bottom:10px;"><br>
            </div>
            <div class="form-group ">
                <label for="address">Address:</label>
                <input class="form-control" type="text" id="address" name="address" value="{{user.address}}" style="margin-bottom:10px;"><br>
            </div>
            <div class="form-group ">
                <label for="city">City:</label>
                <input class="form-control" type="text" id="city" name="city" value="{{user.city}}" style="margin-bottom:10px;"><br>
            </div>
            <div class="form-group ">
                <label for="state">State:</label>
                <input class="form-control" type="text" id="state" name="state" value="{{user.state}}" style="margin-bottom:10px;"><br>
            </div>
            <div class="form-group ">
                <label for="zipCode">Zip Code:</label>
                <input class="form-control" type="text" id="zipCode" name="zipCode" value="{{user.zipCode}}" style="margin-bottom:10px;"><br>
            </div>
            <div class="form-group ">
                <label for="eMail">eMail:</label>
                <input class="form-control" type="text" id="eMail" name="eMail" value="{{user.email}}" style="margin-bottom:10px;"><br>
            </div>
            <div class="form-group ">
                <label for="pheNum">Phone Num:</label>
                <input class="form-control" type="text" id="pheNum" name="pheNum" value="{{user.phone}}" style="margin-bottom:10px;"><br>
            </div>
            <div class="form-group ">
                {{#if isAdmin}}
                    <label for="isAdmin">Is Admin:</label>
                    <input class="form-control" type="text" id="isAdmin" name="isAdmin" value="{{user.isAdmin}}" style="margin-bottom:10px;"><br>
                {{/if}}                 
            </div>
            <div class="form-group ">
                <input class="form-control btn btn-primary" type="submit" value="Submit">
        </form>
        <div class="row">
            <div class="row mb-4 project">
                <div class="col-md-5">
                    <h2>
                    <!-- Call helper function with triple brackets to render the emoji span as HTML -->
                    {{{get_emoji}}}
                    {{company.name}}
                    </h2>
                </div>

            </div>
            {{#each user.reviews as |review| }}
            {{> review-details}}
            {{/each}}
       </div>
    </div>
</div>
 